@using BEL.ItemCodeCreationPreProcess.Models.PowerBIReport.Report
@model EmbedConfig
@{
    ViewBag.Title = "Index";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="buttonsWrapper">
    <a id="btnEmbedReport" href="~/Controllers/PowerBIReport/BIReport">Embed Report</a>
</div>
