<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-BEL.ItemCodeCreationPreProcess-20170119122037.mdf;Initial Catalog=aspnet-BEL.DCRDCNWorkflow-20170119122037;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings file="Cloud.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EnvironmentLive" value="true" />

    <add key="PowerBiClientId" value="c0cee67a-485f-422d-8db9-2fa4a1efd578" />
    <add key="PowerBiClientSecret" value="/BhHLFWSdWmJNUSCZwtZlV62zgXW3Q26XJGOYP3d+9E=" />
    <add key="groupId" value="c9b48e2e-2f6e-41a6-a0e0-acd0c58c6a99" />
    <add key="reportId" value="ce5d7108-ead1-472c-87be-f1c2e901c2bd" />

    <add key="spUserName" value="Dcrdcnuser1@bajajelectricals.com" />
    <add key="spPassword" value="jbltech@more" />
    <add key="RootURL" value="https://bajajelect.sharepoint.com" />

    <add key="CachingNotRequiredFor" value="" />
    <add key="CacheMode" value="true" />
    <add key="CacheInterval" value="" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="UseRESTAPI" value="false" />
    <add key="AllowAsync" value="true" />
    <add key="version" value="3.0" />
    <add key="ReworkCountLimit" value="5" />
    <add key="DaysLimit" value="7" />

    <!--Item Code Dev-->
    <!--   
    <add key="RootSiteURL" value="/sites/WFRootDev" />
    <add key="ItemCodeCreationSITEURL" value="/sites/ItemCodePreProDev" />
    <add key="NPDSiteURL" value="/sites/NPDWFUAT" />
    <add key="ClientId" value="43972818-e8bc-495f-a50d-973422309a08" />
    <add key="ClientSecret" value="UAupF3Ui7KLJXswLxHqNa5c9RGuDOnmKY1Ici2Oup0A=" />
    <add key="WebRoleUrl" value="http://localhost:62403" />-->

    <!--ICDM UAT New--><!--
    --><!----><!--
    <add key="RootSiteURL" value="/sites/WFRootDev" />
    <add key="ItemCodeCreationSITEURL" value="/sites/ICCPUAT" />
    <add key="NPDSiteURL" value="/sites/NPDWFUAT" />
    <add key="ClientId" value="1f635b08-437e-4293-bda9-f7e52ab71feb" />
    <add key="ClientSecret" value="H+zFAYmNO3k1x7pekEd5BVFB/3ecEy9VG3AUgAJWQSI=" />
    <add key="WebRoleUrl" value="https://icdm.azurewebsites.net/ICDMUAT" />-->


    <!--BELICDM UAT-->
    <!---->
    <add key="RootSiteURL" value="/sites/WFRootDev" />
    <add key="ItemCodeCreationSITEURL" value="/sites/BELICDM" />
    <add key="NPDSiteURL" value="/sites/NPDTestDev" />
    <add key="ClientId" value="4b1abd8e-1586-4777-b340-1f030df8fc7b" />
    <add key="ClientSecret" value="BXVDJCH38dnJZNI8XxAKb/AjzDF2ZS8rT15YX7G8vG0=" />
    <add key="WebRoleUrl" value="https://belicdm.azurewebsites.net" />

    <!-- Item Code Production-->
    <!-- 
    <add key="RootSiteURL" value="/sites/WFRoot" />
    <add key="ItemCodeCreationSITEURL" value="/sites/ICDMPro" />
    <add key="NPDSiteURL" value="/sites/NPD" />
    <add key="ClientId" value="30ee73d6-d0c5-4b9f-9eda-943c48e24cbb" />
    <add key="ClientSecret" value="GpFLzaLzI7Z/fTRKRKFmt4qdJA172ekzysY6JPOW5M0=" />
    <add key="WebRoleUrl" value="https://icdm.azurewebsites.net/icdm" />-->

  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="500" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <log4net threshold="ON">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="ItemCreationLog\ItemCreationLog" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <!--Binding redirect for SharePoint Client Components assemblies-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Client.Policy" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Client.TranslationServices" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.SharePoint.Tools" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Online.SharePoint.Client.Tenant" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.DocumentManagement" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Publishing" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Search" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Search.Applications" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Taxonomy" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.UserProfiles" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.WorkflowServices" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="15.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding1">
          <security mode="Transport" />
        </binding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding2">
          <security mode="Transport" />
        </binding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding3">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding3" />
    </protocolMapping>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>